img {
  object-fit: cover;
  height: 500px;
}
.carousel-item {
  position: relative;
}
.carousel-caption {
  position: absolute;
  left: 100px;
  top: 250px;
  text-align: justify;
}
.container-grid {
  display: grid;
  grid-template-columns: 15% 5% 5% auto;
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.footer {
  text-align: end;
}
